[defaults]
inventory = inventory.yml
roles_path = roles
interpreter_python = auto_silent
callback_result_format = yaml
retry_files_enabled = False
# decrypts group_vars/*.sops.yaml and host_vars/*.sops.yaml on the fly
vars_plugins_enabled = host_group_vars,community.sops.sops

[ssh_connection]
pipelining = True
